<%- include("../partials/header") %>  <!-- ../ is used to  go 1 directiry back as ejs files are now ina folder and ejs files and partial folder not in same directory-->

<div class= "container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the campGram!</h1>
            <p>View our handpicked camps from all over the World</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campground/new">Add New Camps Here</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;"> 
        <% camps.forEach(function(camp){  %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                    <img src=" <%= camp.image %> " class="img-fluid" alt="Responsive image">
                    <div class="caption">
                        <h2> <%= camp.name %> </h2>
                    </div>
                    <p>
                        <a href="/campground/<%= camp._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>        
</div>

<%- include("../partials/footer") %>